# Синхросигнал 50Мгц от внешнего генератора
net "CLK" loc = r8;
# Светодиодные индикаторы
net "notTCD" loc = n6;
net "notTCU" loc = p5;
net "OUTPUT(0)" loc = j15;
net "OUTPUT(1)" loc = h16;
net "OUTPUT(2)" loc = c15;
net "OUTPUT(3)" loc = e15;
# Переключатели
net "CPD" loc = t10;
net "CPU" loc = t9;
net "MR" loc = t8;
net "notPL" loc = t7;
net "DATA(0)" loc = t6;
net "DATA(1)" loc = t5;
net "DATA(2)" loc = c13;
net "DATA(3)" loc = b13;
#pin2ucf - Tue Nov 05 13:08:03 2013
#The following constraints were newly added
NET "DATA<0>" LOC = T6;
NET "DATA<1>" LOC = T5;
NET "DATA<2>" LOC = C13;
NET "DATA<3>" LOC = B13;
NET "OUTPUT<0>" LOC = J15;
NET "OUTPUT<1>" LOC = H16;
NET "OUTPUT<2>" LOC = C15;
NET "OUTPUT<3>" LOC = E15;
