//! **************************************************************************
// Written by: Map K.31 on Thu Nov 14 14:26:21 2013
//! **************************************************************************

SCHEMATIC START;
COMP "DATA<0>" LOCATE = SITE "T6" LEVEL 1;
COMP "CPU" LOCATE = SITE "T9" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "notTCU" LOCATE = SITE "P5" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "C13" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "B13" LEVEL 1;
COMP "notPL" LOCATE = SITE "T7" LEVEL 1;
COMP "MR" LOCATE = SITE "T8" LEVEL 1;
COMP "OUTPUT<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "OUTPUT<1>" LOCATE = SITE "H16" LEVEL 1;
COMP "OUTPUT<2>" LOCATE = SITE "C15" LEVEL 1;
COMP "OUTPUT<3>" LOCATE = SITE "E15" LEVEL 1;
COMP "CLK" LOCATE = SITE "R8" LEVEL 1;
COMP "CPD" LOCATE = SITE "T10" LEVEL 1;
COMP "notTCD" LOCATE = SITE "N6" LEVEL 1;
SCHEMATIC END;

